.slider h3,
.slider h5,
.clients h3 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}



.parallax-container {
    height: 20%;
}


.parallax img { 
    filter: grayscale(1);
    opacity: 0.5 !important;
} 


.clients img {
    max-width: 150px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.9));
}



section {
    padding: 20px 0;
}

footer {
    padding: 5px 0 !important;
}


#socialicons {
 text-align: center;
}
#socialicons .icon{
 background: MAIN_COLOR;
 display: inline-block;
 color: white;
 font-size: 18px;
 width: 34px;
 height: 34px;
 line-height: 34px;
 text-align: center;
 vertical-align: middle;
   margin: 0 1px 8px;
}
#socialicons .icon:hover{
 background: HOVER_COLOR;
} 